<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>613185052183-kk5ov7uc90roplv19reas0bv253dahk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613185052183-kk5ov7uc90roplv19reas0bv253dahk4</string>
	<key>API_KEY</key>
	<string>AIzaSyApdDxfVOV1P1gq_iHEk3tuz8VImomGKy8</string>
	<key>GCM_SENDER_ID</key>
	<string>613185052183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UngDungThuChi</string>
	<key>PROJECT_ID</key>
	<string>ungdungthutien</string>
	<key>STORAGE_BUCKET</key>
	<string>ungdungthutien.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:613185052183:ios:6e3183da3ab11782</string>
	<key>DATABASE_URL</key>
	<string>https://ungdungthutien.firebaseio.com</string>
</dict>
</plist>